*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: Arial, Helvetica, sans-serif
}
h1{
  font-size:30rem;
 
}


.score{
  background-color:#343a40;
  margin:5rem auto;
  width:120rem;
  height:80rem;
  padding:2rem 0;


}
.scoreContainer{
  width:110rem;
  display:flex;
  gap:2rem;
  margin:2rem auto;
}

.scoreCard{
  width:50%;
  height:50rem;
  background-color: #212529;
  padding:2rem;
  text-align:center;
  text-transform:uppercase;
   color:#fff;
  border:1rem solid #fff;
}
.scoreCard h2{
   font-size:5rem;
}

.btn{
  text-align: center;
  background-color: #343a40;
 
}
button{
  width:5rem;
  height:5rem;
  font-size:2rem;
  font-style: bold;
  background-color: #212529;
  color:#C8DAEB;
  color:#fff;
  cursor: pointer;
  border:.5rem solid #fff;
  
}
.committeeHome{
  background-color:red;
  width:45%;
  margin-left:5rem;
  padding:1rem 1rem;
  text-align: center;
  display:flex;
  justify-content: space-between;
}
.committeeAway{
  background-color:red;
  width:45%;
  margin-left:2rem;
  padding:1rem 1rem;
  text-align: center;
  display:flex;
  justify-content: space-between;
}
.committeeHome h2,.committeeAway h2{
  font-size: 2rem;
  color:#fff;
  margin-left:2rem;
}
.committeesTable{
  display:flex;
}
